NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/join
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/create-org
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/create-org
NEXT_PUBLIC_WF_API=http://localhost:8085
NEXT_PUBLIC_AUTH_API=http://localhost:8080
NEXT_PUBLIC_INTEGRATIONS_API=http://localhost:8086
NEXT_PUBLIC_GOOGLE_FORMS_API=http://localhost:8086